* {
	box-sizing: border-box;
}
header {
    text-align: center;
    padding: 2em 0;}


body {
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1.6;
    background:;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
    color: #3a3a3a
	}

h1 {
    color:rgb(118, 216, 233);
    font-size: 18px;
    text-align:center}
h2,h3 {
        color:#093a58;
        font-size: 18px}
p {
	font-size: 18px;
	margin-bottom: 16px;
	text-align: justify;}

.formulario{
    margin: 2em;
    width: 50%;
    border: 1px solid rgb(114, 112, 112);
    padding: 10px;
}
input, textarea {
    margin-bottom:12px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.main-footer {
	background: #131212;
	padding:  0;
	margin-top: 40px;
}
.main-nav {
    float: right;
    margin-top: 5px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
.row {
    float: right;
    width: 50%;
        }